

<table class="table-striped nb">
    <thead>
        <tr>
            <th>Category</th>
            <th>Value</th>
            <th>Score</th>
        </tr>
    </thead>

    <tbody>
    <% var length = Object.keys(labels).length %>
    <% var ctr = 1 %>
    <% _.each(Object.keys(labels), function(key) { %>
     <% if ( ctr < length ){ %>
        <tr>
            <td><%= labels[key] || key %></td>
            <td id="<%= key %>"><%= scale.get('score')[key].value %></td>
            <td style="text-align:right;" class="tooltip">
                <%= scale.get('score')[key].result %> <% if(scale.get('score')[key].explanation) {%><span class="left"><%= scale.get('score')[key].explanation %></span><% } %>
            </td>
        </tr>
      <% } else { %>
        <tr>
        <td colspan=2><%= labels[key] || key %></td>
        <td style="text-align:right; font-weight: 600;"><%= scale.get('score')[key] || "" %></td>
        </tr>
      <% } %>
      <% ctr = ctr + 1 %>
    <% }); %>

    </tbody>
</table>

<canvas id="score_chart" width="500" height="500"></canvas>


