<div class="one-half">
	<h3>Calculator - <%= scale %></h3>
	<div id="form_errors"></div>
	<span>Hover the score with your mouse to see how the score was
		calculated.</span>
	<form id="scale_form" method="post">
		<div id="ratingDiv"></div>
		<% if(saveable){ %>
		<div>
			<a href="#" class="button" id="submit">Save</a>
		</div>
		<% } %>
	</form>
</div>
<div id="radarChartDiv" class="one-half">
<h3>Score Radar Chart</h3>
<span>Each dot in the graph represents the percentage of the maximum
	possible score for one category. The area of the graph represents the total score.
</span>
<canvas id="chartCanvas" width="450" height="400">
Canvas not supported by your browser</canvas>
</div>
