<div id="rating_form_div" style="display:none;">
    <h3>Rate this trail with the <%= scale %></h3>
    <p>
    You can rate the trail <%= trail %> with the form given below.
    Most values have been calculated from the track data. You only need to
    fill in the missing difficulty ratings.
    </p>
    <span id="form_container"></span>
</div>

<div>
    <h3>Muni Difficulty Score</h3>
    <div id="errors"></div>
    <form id="scale_form" method="post">
	    <div id="rating_div"></div>
	        <div>
       <a href="#" class="button" id="submit">Save</a> <a href="#" class="button" id="update_score">Update Score</a>
    </div>
    </form>
</div>