<form id="scale_form" method="post">
    <div>
        <label for="average_difficulty">Average difficulty</label>
        <select name="average_difficulty">
		<% _.each(mscales, function(mscale) { %> 
		  <option value="<%= mscale.get('resource_uri') %>">m<%= mscale.get('id') %></option>
		<% }); %>
        </select>
    </div>
    <div>
        <label for="maximum_difficulty">Maximum difficulty</label>
        <select name="maximum_difficulty">
        <% _.each(mscales, function(mscale) { %> 
          <option value="<%= mscale.get('resource_uri') %>">m<%= mscale.get('id') %></option>
        <% }); %>
        </select>
    </div>
    <div>
        <label for="max_diff">Total length</label>
        <input type="number" name="total_length" value="<%= trail.get('length') %>"/>
    </div>
    <div>
        <label for="average_slope">Average slope</label>
        <input type="number" name="average_slope" value="<%= trail.get('avg_slope') %>"/>
    </div>
    <div>
       <a href="#" class="button" id="submit">Save</a> <a href="#" class="button" id="update_score">Update Score</a>
    </div>
</form>

