<table class="table-striped nb">
    <thead>
        <tr>
            <th>Category</th>
            <th>Value</th>
            <th>Score</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Average difficulty</td>
            <td></td>
            <td>score</td>
        </tr>
        <tr class="hidden">
            <td colspan="3">Explanation why the score is as it is</td>
        <tr/>

    </tbody>
</table>

<% _.each(Object.keys(score), function(key) { %> 
        <p><%= key.get('value') %><p>
<% }); %>

<code>
var data = { name: 'Property Name', value: 0 };

Object.keys(data); // ['name', 'value']
Object.keys(data).forEach(function (key) {
  // do something with data[key]
});
</code>
