<form id="uxc_form" method="post">
    <div>
        <label for="avg_diff">Average difficulty</label>
        <input type="number" name="avg_diff" min="0" max="5"/>
    </div>
    <div>
        <label for="max_diff">Maximum difficulty</label>
        <input type="number" name="max_diff" min="0" max="5"/>
    </div>
    <div>
        <label for="max_diff">Total length</label>
        <input type="number" name="total_length"/>
    </div>
    <div>
        <label for="max_diff">Total ascent</label>
        <input type="number" name="total_ascent"/>
    </div>
    <div>
        <label for="avg_slope">Maximum slope uphill</label>
        <input type="number" name="max_slope_uphill"/>
    </div>
    <div>
       <a href="#" class="button" id="submit">Save</a>
    </div>
</form>