<table class="table-striped nb">
    <thead>
        <tr>
            <th>Category</th>
            <th>Value</th>
            <th>Score</th>
        </tr>
    </thead>

    <tbody>
    <% var length = Object.keys(score).length %>
    <% var ctr = 1 %>
    <% _.each(Object.keys(score), function(key) { %>
     <% if ( ctr < length ){ %>
        <tr>
            <td><%= labels[key] || key %></td>
            <td><%= score[key].value %></td>
            <td style="text-align:right;" class="tooltip">
                <%= score[key].result %> <span class="left"><%= score[key].explanation %></span>
            </td>
        </tr>
      <% } else { %>
        <tr>
        <td colspan=2><%= labels[key] || key %></td>
        <td style="text-align:right; font-weight: 600;"><%= score[key] %></td>
        </tr>
      <% } %>
      <% ctr = ctr + 1 %>
    <% }); %>

    </tbody>
</table>
