<form id="scale_form" method="post">
    <div>
        <label for="average_difficulty">Average difficulty</label>
        <select name="average_difficulty">
        <% _.each(mscales, function(mscale) { %> 
          <option value="<%= mscale.get('resource_uri') %>">m<%= mscale.get('id') %></option>
        <% }); %>
        </select>
    </div>
    <div>
        <label for="maximum_difficulty">Maximum difficulty</label>
        <select name="maximum_difficulty">
        <% _.each(mscales, function(mscale) { %> 
          <option value="<%= mscale.get('resource_uri') %>">m<%= mscale.get('id') %></option>
        <% }); %>
        </select>
    </div>
    <div>
        <label for="total_length">Total length (meters)</label>
        <input type="number" name="total_length" value="<%= Math.round(trail.get('length')) %>"/>
    </div>
    <div>
        <label for="total_ascent">Total ascent</label>
        <input type="number" name="total_ascent"/>
    </div>
    <div>
        <label for="maximum_slope_uh">Maximum slope uphill</label>
        <input type="number" name="maximum_slope_uh"/>
    </div>
    <div>
       <a href="#" class="button" id="submit">Save</a> <a href="#" class="button" id="update_score">Update Score</a>
    </div>
</form>