<form id="scale_form" method="post">
    <div>
        <label for="average_difficulty">Average difficulty</label>
        <input type="number" name="avg_diff" min="0" max="5"/>
    </div>
    <div>
        <label for="maximum_difficulty">Maximum difficulty</label>
        <input type="number" name="maximum_difficulty" min="0" max="5"/>
    </div>
    <div>
        <label for="total_length">Total length</label>
        <input type="number" name="total_length" value="<%= Math.round(100*trail.get('length'))/100 %>"/>
    </div>
    <div>
        <label for="total_ascent">Total ascent</label>
        <input type="number" name="total_ascent"/>
    </div>
    <div>
        <label for="max_slope_uphill">Maximum slope uphill</label>
        <input type="number" name="max_slope_uphill"/>
    </div>
    <div>
       <a href="#" class="button" id="submit">Save</a> <a href="#" class="button" id="update_score">Update Score</a>
    </div>
</form>