<section id="home" class="section">
	<div class="boxed">
		<div class="one_full">
			<h2>What is it?</h2>
			<p>The Muni Difficulty Scale is a collection of three scales
				which can be used to describe difficulties of trails for mountain
				unicycling.</p>
			<p>There is already a large number of trail rating systems out
				there, however none of those fit the requirements for a scale that
				is applicable in the domain of mountain unicycling. This is why a
				group of mountain unicyclists started to develop the muni difficulty
				scale in 2012 which eventually became an official IUF standard in
				2013.</p>
		</div>

		<div class="one-third">
			<h2>M-Scale</h2>
			<p>The M-Scale is used to rate the difficulty of muni trail
				sections</p>
			<p>It can be used individually from the other two scales to
				describe the technical difficulty of a trail, independently from its
				length or other attributes.</p>
		</div>

		<div class="one-third">
			<h2>UDH-Scale</h2>
			<p>The Unicycle Downhill scale is used to rate the overall track
				difficulty of muni downhill tracks.</p>
			<p>It takes technical difficulty as well as other factors into
				account.</p>
		</div>

		<div class="one-third last">
			<h2>UXC-Scale</h2>
			<p>The Unicycle Cross Country scale is used to rate the overall
				track difficulty of muni cross country tracks.</p>
			<p>It takes technical difficulty as well as other factors into
				account.</p>
		</div>
	</div>
</section>
<!-- content -->