<div class="one-full">
	<h5>M<%= item.get('id') %></h5>
	<table>
		<tr>
			<th style="width:25%">Characteristics</th>
			<th style="width:30%">Obstacles</th>
			<th>Slope</th>
			<th style="width:30%">Underground</th>
		</tr>
		<tr>
			<td><%= item.get('characteristics') %></td>
			<td><%= item.get('obstacles').join(",<br>") %></td>
			<td>
				<%= item.get('slope') %>
				<br>
				<canvas class="slope-<%= item.get('slope').replace(/\D/g, '') %>"
					 width="40px" height="40px" 
					 title="a slope of exactly <%= item.get('slope').replace(/\D/g, '') %> %">
				</canvas>
			</td>
			<td><%= item.get('underground') %></td>
		</tr>
	</table>

</div>