<section class="section">
	<div class="boxed">
		<div class="one_full">
			<h3>M-Scale</h3>
			<p>
				The M scale describes the technical difficulty of a single trail section.
				<br>
				A section is a part of a trail with a length of 5 to 20 meters. The rating is valid for good conditions
				(daylight, dry). It is not influenced by how dangerous the section is.
				There are six grades of difficulty (M0 to M5) as described in the following.
				The M scale can be used independently from the UDH and UXC scales.
			</p>
		</div>
	</div>
</section>

<section class="section">
	<div class="boxed">
		<h3>Difficulty Grades</h3>
		<div id="items"></div>
</section>