<section class="section" style="background-color: #eeffff;">
	<div class="boxed">
		<div class="one_full">
			<h3>Create a new trail</h3>
		</div>
		<div class="one-full">
			<p>
				Аs а registered user, you may <a href="#/trails/upload">upload</a>
				and rate a new trail with the Muni Trail Scale.<br> <a
					href="#/trails/upload" class="button">upload file</a>
			</p>
		</div>
		<div class="one-full hidden">
			<h6>Create on map (not implemented)</h6>
			<p>
				If you don't have access to any tracking device, you may also <a
					href="#/trails/create">create a track on the map</a>. This is not
				very accurate and is hence not recommended.<br> <a
					href="#/trails/create" class="button">create on map</a>
			</p>
		</div>
	</div>
</section>

<section class="section">
	<div class="boxed">
		<div class="one_full">
			<h3>View existing trails</h3>
		</div>
		<div id="filters"></div>
		<div class="one-full textcenter pageList"></div>
		<div id="items"></div>
		<div class="one-full textcenter pageList"></div>
</section>

<section>
	<div class="boxed" id="items"></div>
</section>