<div class="one_full">
    <h2><%= trail.get('name') %></h2>
    <p>
    <%= trail.get('description') %>
    </p>
</div>

<hr>

<div class="one_third">
    <h3>Statistics</h3>
    <p>Length</p>
    <p>altitude</p>
    <p>type</p>
</div>

<div class="two_third">
    <h3>Difficulty rating</h3>
    <p>Mscale:</p>
    <p>UDX: 34<p>
</div>

<div class="one_full">
    <h3>Height Profile</h3>
    <div id="canvasdiv" style="width:100%">
        <canvas id="height_profile" style="width:100%;height:300px;"></canvas>
    </div>
</div>

<div class="one_full">
    <h3>Map</h3>
    <div id="mapdiv" style="width:100%;height:500px;"></div>
</div>