<div class="one_full">
    <h3><%= trail.get('name') %></h3>
    <p>
    <%= trail.get('description') %>
    </p>
</div>

<div class="two_third">
    <h3>Map</h3>
	<p><%= trail.get('waypoints') %></p>
	<canvas id="chart" width="200" height="200">canvas.</canvas>
</div>

<div class="one_third">
    <h3>Statistics</h3>
    <p>Length, altitude, type, etc</p>
    <canvas id="chart" width="200" height="200">canvas.</canvas>
</div>

<div class="one_full">
    <h3>Hight Profile</h3>
    <canvas id="chart" width="200" height="200">canvas.</canvas>
</div>