<div class="boxed">
<div class="one-full" id="import_div">
    <h2>Import a Trail</h2>
    <p>
    You can import trails that you recorded via GPS.
    Simply upload the GPX file using the form below to get started.
    </p>
    <div id="upload_form_errors" style="display:none;"></div>
    <form id="upload_form" enctype="multipart/form-data" method="post" action="#/trails/upload">
	    <div>
	       <input type="file" class="label" name="gpx" id="gpx"/>
	    </div>
	    <div>
	       <a href="#" class="button" id="submit">Import</a>
	    </div>
	       <div class="progress hidden">
            <div class="bar"></div >
            <div class="percent">0%</div >
        </div>
        <div id="status"></div>
    </form>
</div>

<div class="one-third hidden" id="info_div">
    <h2>Trail information</h2>
    
    <div id="info_form_errors" style="display:none;"></div>
    
    <form id="info_form" method="post" action="#/trails/upload">
        <div>
            <label for="name">Name</label> <input name="name" id="name_field" type="text"></input>
        </div>
        <div>
            <label for="type">Track type</label>
            <select name="type">
                <% _.each(type_choices, function(val,key) { %> <option value=<%= key %>><%= val %></option> <% }); %>
            </select>
        </div>
        <div>
            <label for="description">Description</label> <textarea name="description" type="text"></textarea>
        </div>
        <div>
           <a href="#" class="button" id="submit_info">Save trail</a>
        </div>
    </form>
</div>


<div class="two-third hidden" id="map_div">
    <h2>Map (preview)</h2>
    <div id="mapdiv" style="width:100%"></div>
</div>
</div>