<div class="one_half" id="import_div">
    <h2>Rate this trail with the <%= scale %> Scale</h2>
    <p>
    You can rate the trail <%= trail %> with the form given below.
    Most values have been calculated from the track data. You only need to
    fill in the missing difficulty ratings.
    </p>
    <span id="form_container"></span>
</div>

<div class="one_half" id="rating_div">
    <h2>Muni Difficulty Score</h2>
    <p>
    [The scores go in here.]
    [Each score should get a little description which explains how it was calculated.]
    </p>
</div>