<div class="one_full">
    <h2>Import a Trail</h2>
    <p>
    You can import trails that you recorded via GPS.
    Simply upload the GPX file using the form below to get started.
    </p>
    
    <form id="upload_form" enctype="multipart/form-data" method="post" action="#/trails/upload">
	    <div>
	       <input type="file" class="label" name="gpx" id="gpx"/>
	    </div>
	    <div>
	       <a href="#" class="button" id="submit">Import</a>
	    </div>
	       <div class="progress">
            <div class="bar"></div >
            <div class="percent">0%</div >
        </div>
        <div id="status"></div>
    </form>
</div>

<hr>

<div class="one_full">
    <h3>Map</h3>
    <div id="mapdiv" style="width:100%"></div>
</div>