<div class="boxed">
<div class="one_full">
    <h3>Trails</h3>
    <p>
    This is a small collection of trails, that have been uploaded by our users.
    </p>
</div>

<div class="one-third">
    <h4>GPX import</h4>
    <p>
    Аs а registered user, you may <a href="#/trails/upload">upload</a> and rate a new trail with the Muni Trail Scale.
    </p>
</div>
<div class="two-third">
    <h4>Create on map</h4>
    <p>
    If you don't have access to any tracking device, you may also <a href="#/trails/create">create a track on the map</a>.
    This is not very accurate and is hence not recommended.
    </p>
</div>

<hr/>
<div class="one-full">
    <h4>Filter</h4>
    <form>
	<select>
	  <option value="---">Type</option>
	  <option value="uphill">uphill</option>
	  <option value="downhill">downhill</option>
	  <option value="xc">cross country</option>
	</select>
	<select>
	  <option value="---">Region</option>
	  <option value="Europe">Europe</option>
	  <option value="North America">North America</option>
	  <option value="South America">South America</option>
	  <option value="Africa">Africa</option>
	  <option value="Asia">Asia</option>
	  <option value="Australia">Australia</option>
	</select>
	<a href="#" class="button">apply filters</a>
	<a href="#" class="button">reset filters</a>
	</form>
</div>
<hr/>


<% _.each(trails, function(trail) { %> 
    <div class="one-third" style="height:150px;">
	    <h3><a href="/<%= trail.get_url() %>"><%= trail.get('name') %></a></h3>
	    <p><%= trail.get('description') %><p>
    </div>
<% }); %>
</div>