<section class="section">
	<div class="boxed">
		<div class="one_full">
			<h3>Unicycle Downhill Scale Description</h3>
			<p>
				The Unicycle Downhill Scale (UDH) is used to measure the overall difficulty
				(as opposed to the technical difficulty, which is measured with the M-Scale) of
				a muni downhill trail.<br>
			</p>
			<p>
				The scale ranges from 0 to 40 points. Each criteria is described below along with
				the interval borders.<br>
				Linear interpolation is used to calculate values that are between the fixed interval borders. 
				But don't worry, you can simply use the calculator below to quickly calculate the score.
			</p>
				<table>
					<tr>
						<th>Criteria</th>
						<th>Points</th>
						<th>Description</th>
					</tr>
					<tr>
						<td>Total Length</td>
						<td>0-10</td>
						<td>The total length of the trail in km: 0/2/8/10 points given
				to 0/1/4/8 km</td>
					</tr>
					<tr>
						<td>Average Slope</td>
						<td>0-10</td>
						<td> The total height difference divided by total length of the
				trail: 0/2/8/10 points given to 0/10/25/35 %</td>
					</tr>
					<tr>
						<td>Maximum Difficulty</td>
						<td>0-10</td>
						<td>The rating of the most technically difficult section of the trail
				using the M scale: 0/2/8/10 points given to M 0/2/3.5/5</td>
					</tr>
					<tr>
						<td>Average Difficulty</td>
						<td>0-10</td>
						<td>The average difficulty rating of the trail using the M
				scale, 0/2/8/10 points given to M 0/1/2.5/3.5</td>
					</tr>
				</table>
		</div>
	</div><!-- boxed -->
</section>
<section class="section">
	<div class="boxed">
		<div id="calculator">
			<!-- a sub-view will be rendered here-->
		</div>
	</div>
</section>

<section class="section">
	<div class="boxed">
		<div class="one-full">
			<h3>UDH Calculation Example</h3>
			<p>
				The scores are calculated using linear interpolation, so that the following formula can be applied for any value which is
				within the range of the minimal criteria measure and the maximum criteria measure:<br>
				
				<math xmlns="http://www.w3.org/1998/Math/MathML"><mi>s</mi><mo>(</mo><mi>x</mi><mo>)</mo><mo>=</mo><mfrac><mrow><msub><mi>p</mi><mn>1</mn></msub><mo>-</mo><msub><mi>p</mi><mn>0</mn></msub></mrow><mrow><msub><mi>i</mi><mn>1</mn></msub><mo>-</mo><msub><mi>i</mi><mn>0</mn></msub></mrow></mfrac><mo>(</mo><mi>x</mi><mo>-</mo><msub><mi>i</mi><mn>0</mn></msub><mo>)</mo><mo>+</mo><msub><mi>p</mi><mn>0</mn></msub></math>
				<br>
				<math xmlns="http://www.w3.org/1998/Math/MathML"><msub><mi>p</mi><mn>0</mn></msub></math> represents the lower boundary of the available points. For the first interval this is always 0.<br>
				<math xmlns="http://www.w3.org/1998/Math/MathML"><msub><mi>p</mi><mn>1</mn></msub></math> represents the upper boundary of the available points.<br>
				<math xmlns="http://www.w3.org/1998/Math/MathML"><msub><mi>i</mi><mn>0</mn></msub></math> represents the lower boundary of the criteria measure.<br>
				<math xmlns="http://www.w3.org/1998/Math/MathML"><msub><mi>i</mi><mn>1</mn></msub></math> represents the upper boundary of the criteria measure.<br>
				<math xmlns="http://www.w3.org/1998/Math/MathML"><mi>x</mi></math> represents the criteria input for which the score should be determined.<br>
			</p>

			<p>
				Using the UDH Scale, one could determine the score for a trail with a length of 6 km
				by putting the values into the formula shown above. 6 km is in between 4 and 8 km, so
				that 4 represents the lower criteria measure boundary (<math xmlns="http://www.w3.org/1998/Math/MathML"><msub><mi>i</mi><mn>0</mn></msub></math>) and 8 represents the upper
				criteria measure boundary (<math xmlns="http://www.w3.org/1998/Math/MathML"><msub><mi>i</mi><mn>1</mn></msub></math>). The lower boundary for the points is hence 8 and the
				upper boundary is 10.
				<br>
				This results in:
				<math xmlns="http://www.w3.org/1998/Math/MathML"><mi>s</mi><mo>(</mo><mn>16</mn><mo>)</mo><mo>=</mo><mfrac><mrow><mn>8</mn><mo>-</mo><mn>2</mn></mrow><mrow><mn>25</mn><mo>-</mo><mn>10</mn></mrow></mfrac><mo>(</mo><mn>16</mn><mo>-</mo><mn>10</mn><mo>)</mo><mo>+</mo><mn>2</mn><mo>=</mo><mn>4</mn><mo>.</mo><mn>4</mn></math>
			</p>
			<p>
				Let us further assume that the track has an average slope of 16% (corresponding to
				about 9 degrees). Here, the interpolation is done on the interval from 10% to
				25% yielding points between 2 and 8.<br>
				The equation thus reads:
				<math xmlns="http://www.w3.org/1998/Math/MathML"><mi>s</mi><mo>(</mo><mn>16</mn><mo>)</mo><mo>=</mo><mfrac><mrow><mn>8</mn><mo>-</mo><mn>2</mn></mrow><mrow><mn>25</mn><mo>-</mo><mn>10</mn></mrow></mfrac><mo>(</mo><mn>16</mn><mo>-</mo><mn>10</mn><mo>)</mo><mo>+</mo><mn>2</mn><mo>=</mo><mn>4</mn><mo>.</mo><mn>4</mn></math>
			</p>

			<p>
				After long and fierce debates the local muni riders decided that the most difficult
				section of the track warrants a rating of M3.5. In this case the points for maximum
				difficulty are obtained easily: M3.5 corresponds exactly to the interval border 8 and no
				further interpolation is necessary.
			</p>

			<p>
				The track also includes lots of easy sections resulting in an average difficulty of M1.5.
				The points for this criteria are calculated by interpolating between M1 and M2.5 
				(boundaries for 2 and 8 points, respectively): <math xmlns="http://www.w3.org/1998/Math/MathML"><mi>s</mi><mo>(</mo><mn>1</mn><mo>.</mo><mn>5</mn><mo>)</mo><mo>=</mo><mfrac><mrow><mn>8</mn><mo>-</mo><mn>2</mn></mrow><mrow><mn>2</mn><mo>.</mo><mn>5</mn><mo>-</mo><mn>1</mn></mrow></mfrac><mo>(</mo><mn>1</mn><mo>.</mo><mn>5</mn><mo>-</mo><mn>1</mn><mo>)</mo><mo>+</mo><mn>2</mn><mo>=</mo><mn>4</mn></math>
			</p>

			<p>
				The UDH rating of the track consists of the sum of the points for the individual
				criteria, rounded to the nearest integer:<br>
				<math xmlns="http://www.w3.org/1998/Math/MathML"><mi>UDH</mi><mo>=</mo><mn>9</mn><mo>+</mo><mn>4</mn><mo>.</mo><mn>4</mn><mo>+</mo><mn>8</mn><mo>+</mo><mn>4</mn><mo>=</mo><mn>25</mn><mo>.</mo><mn>4</mn><mo>&#8776;</mo><mn>25</mn></math><br>
				The result is a UDH rating of 25 out of 40 points. For convenience these calculations
				can be automatically done using the online calculator.
			</p>

			<p>
				<a href="#" id="showInCalculator" class="button">show in calculator</a>
			</p>
		</div>
	</div>
</section>
<!-- content -->