<section class="section" id="udh_description">
	<div class="boxed">
		<div class="one_full">
			<h3>Unicycle Cross Country Scale Description</h3>
			<p>
				The Unicycle Cross Country Scale (UXC) is used to measure the overall difficulty
				(as opposed to the technical difficulty, which is measured with the M-Scale) of
				a muni cross country trail.<br>
			</p>
			<p>
				The scale ranges from 0 to 40 points and describes the overall difficulty of a cross country
				track. Each category is described below along with the interval borders.<br>
				Linear interpolation is used to calculate values that are between the fixed interval borders. 
				But don't worry, you can simply use the calculator below to quickly calculate the score.
			</p>
				<table>
					<tr>
						<th>Criteria</th>
						<th>Points</th>
						<th>Description</th>
					</tr>
					<tr>
						<td>Total Length</td>
						<td>0-15</td>
						<td>The total length of the trail: 0/3/12/15 points given to 0/10/25/40 km</td>
					</tr>
					<tr>
						<td>Total Ascent</td>
						<td>0-7.5</td>
						<td>The total ascent of the trail: 0/1.5/6/7.5 points given to 0/200/800/1500 m</td>
					</tr>
					<tr>
						<td>Maximum Slope Uphill</td>
						<td>0-5</td>
						<td>The slope of the steepest uphill section, 0/1/4/5 points given to 0/10/25/35 %</td>
					</tr>
					<tr>
						<td>Maximum Difficulty</td>
						<td>0-5</td>
						<td>The rating of the most difficult section of the trail
							using the M scale: 0/1/4/5 points given to M 0/1/2.5/4</td>
					</tr>
					<tr>
						<td>Average Difficulty</td>
						<td>0-7.5</td>
						<td>The average difficulty rating of the trail using the M
						M scale: 0/1.5/6/7.5 points given to M 0/0.5/1/2</td>
					</tr>
				</table>
		</div>
	</div><!-- boxed -->
</section>
<section class="section" id="udh_calc">
	<div class="boxed">
		<div id="calculator">
			<!-- a sub-view will be rendered here-->
		</div>
	</div>
</section>

<section class="section" id="udh_example">
	<div class="boxed">
		<div class="one-full">
			<h3>UXC Calculation Example</h3>
			
			<p>
				For the UXC scale the same algorithms (i.e. linear interpolation) as for the UDH scale are
				used. However, different criteria and point distributions contribute to the final rating. The
				example will present the calculations for a long and easy course.<br>
			</p>
			
			<p>
				Total Length: 42 km<br>
				42 km is longer than 40 km so the full 15 points are given.
			</p>
			<p>
				Total Ascent: 590 m<br>
				Interpolation on the interval 200–800 m / 1.5–6 points:<br>
				<math xmlns="http://www.w3.org/1998/Math/MathML"><mi>s</mi><mo>(</mo><mn>590</mn><mo>)</mo><mo>=</mo><mfrac><mrow><mn>6</mn><mo>-</mo><mn>1</mn><mo>.</mo><mn>5</mn></mrow><mrow><mn>800</mn><mo>-</mo><mn>200</mn></mrow></mfrac><mo>(</mo><mn>590</mn><mo>-</mo><mn>200</mn><mo>)</mo><mo>+</mo><mn>1</mn><mo>.</mo><mn>5</mn><mo>=</mo><mn>4</mn><mo>.</mo><mn>4</mn></math>
			</p>
			<p>
				Maximum Slope Uphill: 8%<br>
				Interpolation on the interval 0-10 % / 0-1 points:<br>
				<math xmlns="http://www.w3.org/1998/Math/MathML"><mi>s</mi><mo>(</mo><mn>7</mn><mo>)</mo><mo>=</mo><mfrac><mrow><mn>1</mn><mo>-</mo><mn>0</mn></mrow><mrow><mn>10</mn><mo>-</mo><mn>0</mn></mrow></mfrac><mo>(</mo><mn>8</mn><mo>-</mo><mn>0</mn><mo>)</mo><mo>+</mo><mn>0</mn><mo>=</mo><mn>0</mn><mo>.</mo><mn>8</mn></math>
			</p>
			<p>
				Maximum Difficulty: M1.5<br>
				Interpolation on the interval M1–2.5 / 1–4 points:
				<math xmlns="http://www.w3.org/1998/Math/MathML"><mi>s</mi><mo>(</mo><mn>7</mn><mo>)</mo><mo>=</mo><mfrac><mrow><mn>4</mn><mo>-</mo><mn>1</mn></mrow><mrow><mn>2</mn><mo>.</mo><mn>5</mn><mo>-</mo><mn>1</mn></mrow></mfrac><mo>(</mo><mn>1</mn><mo>.</mo><mn>5</mn><mo>-</mo><mn>1</mn><mo>)</mo><mo>+</mo><mn>1</mn><mo>=</mo><mn>2</mn></math>
			</p>
			<p>
				Average Difficulty: M0.5<br>
				M0.5 corresponds exactly to 1.5 points.
			</p>
			<p>
				Final UXC rating:<br>
				<math xmlns="http://www.w3.org/1998/Math/MathML"><mi>UXC</mi><mo>=</mo><mn>15</mn><mo>+</mo><mn>4</mn><mo>.</mo><mn>4</mn><mo>+</mo><mn>0</mn><mo>.</mo><mn>8</mn><mo>+</mo><mn>2</mn><mo>+</mo><mn>1</mn><mo>.</mo><mn>5</mn><mo>=</mo><mn>23</mn><mo>.</mo><mn>7</mn><mo>&#8776;</mo><mn>24</mn></math>
			</p>

			<p>
				<a href="#calc" id="showInCalculator" class="button">show in calculator</a>
			</p>
		</div>
	</div>
</section>
<!-- content -->