Django==1.5.1
South==0.8.1
argparse==1.2.1
django-tastypie==0.9.15
logilab-astng==0.24.3
logilab-common==0.59.1
mimeparse==0.1.3
psycopg2==2.5.1
pylint==0.28.0
python-dateutil==2.1
six==1.3.0
wsgiref==0.1.2
