/** usage example:

<a href="#" class="tooltip">
 Tooltip <span>
    <img class="callout" src="src/callout.gif" /> 
    <strong>Most Light-weight Tooltip</strong><br />
    This is the easy-to-use Tooltip driven purely by CSS. 
 </span>
</a> 

<a href="#" class="tooltip"> 
    <img src="../img/demo/css-tooltip-image.gif" /> 
    <span> 
        <img class="callout" src="src/callout.gif" /> 
        <strong>CSS only Tooltip</strong><br /> 
        <img src="../img/demo/css-tooltip-image.gif" style="float:right;" />
         Pure CSS popup tooltips with clean semantic XHTML. 
    </span> 
</a>
*/

.tooltip {
	outline: none;
}

.tooltip strong {
	line-height: 30px;
}

.tooltip:hover {
	text-decoration: none;
}

.tooltip span {
	z-index: 10;
	display: none;
	padding: 14px 20px;
    width:240px; 
    line-height:16px;
	text-align:left;
}

.tooltip span.top {
	margin-top: -80px;
    margin-left:-160px; 
}

.tooltip span.bottom {
    margin-top: 20px;
    margin-left:-160px; 
}

.tooltip span.left {
    margin-top: -20px;
    margin-left:-380px; 
}

.tooltip span.right {
    margin-top: -20px;
    margin-left: 30px; 
}

.tooltip:hover span {
	display: inline;
	position: absolute;
	color: #111;
	border: 1px solid #DCA;
	background: #fffAF0;
}

.callout {
	z-index: 20;
	position: absolute;
	top: 30px;
	border: 0;
	left: -12px;
} 
/*CSS3 extras*/
.tooltip span {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 5px 5px 8px #CCC;
	-webkit-box-shadow: 5px 5px 8px #CCC;
	box-shadow: 5px 5px 8px #CCC;
}