{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Rocco Schulz">
	<meta name="description" content="Muni Difficulty Scale - A tool to measure singletrail difficulty">
	<meta name="keywords" content="muni difficulty scale, mountain unicycling, trails, singletrail, mountain unicycling">
	<link rel="shortcut icon" href="{% static "img/favicon.png" %}">
    <title>Muni Difficulty Scale | A tool to measure trail difficulty</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="wrapper">
    <section>
        <header>
            <div class="container">
                <div class="clear">
                    <h1 class="logo animate fade-in-down"><a href="#home">Muni Difficulty Scale</a></h1>
                </div>
            </div>
            <div data-region="headerExtra" class="header-extra">
                <div class="container">
                    <p>A tool to measure trail difficulty</p>
                </div>
            </div>
            <div class="navbar">
                <nav class="container clear">
                    <ul>
                        <li><a href="#udh-scale"><i class="fa fa-th-list fa-2x"></i><span
                                class="menu-txt">UDH Scale</span></a>
                        </li>
                        <li><a href="#uxc-scale"><i class="fa fa-th fa-2x"></i><span
                                class="menu-txt">UXC Scale</span></a></li>
                        <li><a href="#mts"><i class="fa fa-list-ol fa-2x"></i><span
                                class="menu-txt">M Scale</span></a></li>
                        <li><a href="#trails"><i class="fa fa-globe fa-2x"></i><span
                                class="menu-txt">Trails</span></a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </section>

    <section class="content container">
        <div class="content-inner" id="appBody" data-region="body">
            <div class="text-center col-tablet-11 no-float center-element">
                <h1>The muni difficulty scale</h1>

                <p class="lead">
                    Some dummy content
                </p>
            </div>
        </div>
    </section>

</div>
<footer class="footer push">
    <div class="container">
        <div class="footer-inner clear">
            <div class="col-tablet-6">
                <p>
                    A project by <a href="http://is-gr8.com">Rocco Schulz</a> and the <a href="">IUF</a>.
                </p>
            </div>
            <div class="col-tablet-6">
                <ul class="footer-list">
                    <li><a href="#">Some footer links</a></li>
                    <li><a href="#">placeholder</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="{%  static 'main.js' %}"></script>
</body>
</html>