{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Muni Difficulty Scale | A tool to measure trail difficulty</title>

    <meta name="author" content="Rocco Schulz">
	<meta name="description" content="Muni Difficulty Scale - A tool to measure singletrail difficulty">
	<meta name="keywords" content="muni difficulty scale, mountain unicycling, trails, singletrail, mountain unicycling">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/img/favicon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="wrapper">
    <section>
        <header>
            <div class="container">
                <div class="clear">
                    <h1 class="logo animate fade-in-down font-outline"><a href="#home">Muni Difficulty Scale</a></h1>
                </div>
            </div>
            <div class="header-extra container">
                <div class="row">
                <div class="col-6 col-8-tablet font-outline" data-region="headerExtra">
                    <p>A tool to measure trail difficulty</p>
                </div>
                <div class="col-6 col-4-tablet" data-region="authPanel"><i class="fa fa-user"></i> anonymous</div>
                </div>
            </div>
            <div class="navbar">
                <nav class="container clear">
                    <ul>
                        <li><a href="#udh-scale"><i class="fa fa-th-list fa-2x"></i><span
                                class="menu-txt">UDH Scale</span></a>
                        </li>
                        <li><a href="#uxc-scale"><i class="fa fa-th fa-2x"></i><span
                                class="menu-txt">UXC Scale</span></a></li>
                        <li><a href="#mts"><i class="fa fa-list-ol fa-2x"></i><span
                                class="menu-txt">M Scale</span></a></li>
                        <li><a href="#trails"><i class="fa fa-globe fa-2x"></i><span
                                class="menu-txt">Trails</span></a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </section>

    <div data-region="notification" id="notification"></div>

    <section class="content container">
        <div class="content-inner" id="appBody" data-region="body">
            <div class="text-center col-tablet-11 no-float center-element">
                <h1>The muni difficulty scale</h1>
            </div>
        </div>
    </section>

</div>
<footer class="footer push">
    <div class="container">
        <div class="footer-inner clear">
            <div class="col-tablet-6">
                <p>
                    A project by <a href="http://is-gr8.com" target="_blank">Rocco Schulz</a> and the <a href="https://unicycling.org/" target="_blank">IUF</a>.
                </p>
            </div>
            <div class="col-tablet-6">
                <ul class="list-unstyled footer-linklist">
                    <li><a href="https://github.com/iuf/muni-difficulty-scale/releases/latest" target="_blank"><i class="fa fa-file-pdf-o"></i> latest official release</a></li>
                    <li><a href="#feedback"><i class="fa fa-envelope" ></i> submit feedback</a></li>
                    <li><a href="https://github.com/schocco/mds-web" target="_blank"><i class="fa fa-github"></i> this project on github</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="{%  static 'main.js' %}"></script>
</body>
</html>