<div id="filterContainer" class="section">
	<div id="searchFields" class="one-half"></div>
	<div id="searchFields" class="one-half textright">
		<span>order by</span>
		<select>
			<option>name</option>
			<option>date</option>
		</select>
			<select>
			<option>asc</option>
			<option>desc</option>
		</select>
	</div>
	<div id="filterFields" class="one-full textcenter"></div>
	<div class="clearfix"><a href="#" id="applyFilters" class="button blue">apply</a></div>
	<div id="pageList" class="one-full textcenter"></div>
</div>