<div class="one-half">
    <h4>Login with your MDS account</h3>
    <div id="login_msg" style="display:none;"></div>
	<form id="loginForm">
		<div>
			<label for="id_username">Username</label>
			<input id="id_username" type="text" name="username" maxlength="254"/>
		</div>
		<div>
			<label for="id_password">Password</label>
			<input id="id_password" type="password" name="password"/>
		</div>
		<div style="margin-top: 5px;">
			<a id="loginSubmit" class="button green">login</a>
		</div>
	</form>
</div>

<div class="one-half">
	<h4>Login with another account:</h3>
	<ul style="list-style-type: none; padding: 0; margin-left: 0;">
	<% _.each(backends, function(backend) { %> 
	    <li><a class="button <%= backend.getColorClass() %>" style="width: 80%; border: solid 1px #555;" href="<%= backend.get_url() %>?next=<%= next %>"><i class="<%= backend.getIconClass() %>"></i> <%= backend.getDisplayName() %></a></li>
	<% }); %>
	</ul>
</div>

